/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* FOOTER NAV*/
footer-nav,
.footer-nav-links {
  display: flex;
}

footer-nav {
  justify-content: space-around;
  align-items: center;
  height: 14vh;
}


.footer-nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.footer-nav-links a{
  color: white;
  }

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position:relative;
  display: inline-block;
  z-index: 10;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow:scroll;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

article .icon {
  cursor: default;
}

.skill-icon {
  cursor: pointer;
  height: 1.2rem;
}

.project-article-container {
  height: 300px;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* SCROLL */

/* Initial hidden state */
.scrolltop {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position at the bottom-right of the screen */
  bottom: 2rem; /* Distance from the bottom */
  right: 3rem; /* Distance from the right */
  background-color: rgba(81, 81, 81, 0.7); /* Background color */
  justify-content: center;
  align-items: center;
  color: #fff; /* Icon color */
  padding: 5px; /* Padding for the icon */
  border-radius: .5rem;
  cursor: pointer; /* Changes cursor to pointer on hover */
  z-index: 1000; /* High z-index to stay on top */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for appearance */
}

.scrolltop:hover {
  background-color: black;
  text-decoration: none;
}

.bx{
  display: block !important;
}

.scrolltop__icon {
  font-size: 2rem;
  color: white;
}

/* Visible state */
.scrolltop.visible {
  display: block; /* Make the button visible */
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: 90vh;
}

.section-container {
  display: flex;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 1.5rem;
}

/* PROFILE SECTION */

#profile {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  position: relative;
  align-items: center;
  min-height: 84vh !important;
}

.about{
  grid-column: 1;
}

.section__text {
  text-align: center;
}

.aspiring_role {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.about_me{
  grid-column: 2;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.about-section-container {
  gap: 4rem;
}

.about-description{
  text-align: justify;
  padding-bottom: 30px;
}

/* SKillS SECTION */

#skillset {
  position: relative;
}

.skillset-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.skillset-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skillset-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.skillset-details-container2 {
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 5px;
}

@media (min-width: 768px) {


.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: space-around;
}

article {
  display: -webkit-inline-box;
  width: 9.2rem;
  justify-content: space-around;
  gap: 0.5rem;
  width: 50%;
}

article .icon {
  cursor: default;
}
.skill-icon {
  cursor: pointer;
  height: 1.2rem;
}
.skill{
  font-size: medium;
}

.skill-level{
  font-size: small;
}

.about-description{
  text-align: justify;
  padding-bottom: 30px;
}

/* ===Skills=== */

#skillset {
  position: relative;
}

.skillset-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.skillset-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skillset-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.skillset-details-container2 {
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 5px;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: space-around;
}

article {
  display: -webkit-inline-box;
  width: 13.2rem;
  justify-content: space-around;
  gap: 0.5rem;
  width: 50%;
}

article .icon {
  cursor: default;
}
.skill-icon {
  cursor: pointer;
  height: 1.2rem;
}
.skill{
  font-size: medium;
}

.skill-level{
  font-size: small;
}

.about-description{
  text-align: justify;
  padding-bottom: 30px;
}

/* SKillS SECTION */

#skillset {
  position: relative;
}

.skillset-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.13rem;
  margin-bottom: 1.5rem;
}

.skillset-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skillset-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.skillset-details-container2 {
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 5px;
}

  .skillset-details-container2 {
    flex-basis: calc(27% - 10px);
  }

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: space-around;
}

article {
  display: -webkit-inline-box;
  width: 13.2rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}
.skill-icon {
  cursor: pointer;
  height: 1.2rem;
}
.skill{
  font-size: normal;
}

.skill-level{
  font-size: small;
}

.skills__content {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    /* background-color: #6b2128; */
    background-color: #FFF;
    /* color: var(--first-color-lighten); */
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(47, 10, 13, .25); */
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    width: 80rem;
    height: 18rem;
}

.skills__grid-image {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.skills__img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

/*.skills__core-img {
    margin-top: 1rem;
    width: 9rem;
    height: 9rem;
    align-self: center;
}*/

.skills__title {
    position: absolute;
    bottom: 0;
    align-self: center;
    padding: 1rem;
    margin-bottom: var(--mb-2);
}

.skills__description {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

/*TIMELINE*/
#timeline {
  position: relative;
}

.details{
  display: flex;
  column-gap: 2rem;
}

.detail-title{
  font-size: medium;
}

.education{
  width:50%;
}

.timeperiod{
  font-size: small;
  align-content: center;
}

/* EDUCATION SECTION */

#education {
  position: relative;
}

.education-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.education-details-container {
  justify-content: center;
  flex-direction: row;
}

.education-containers,
.education-details-container {
  display: block;
  row-gap: 2rem;
}

.education-pic {
  border-radius: 2rem;
}

.education-details-container2 {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-bottom: 24px;
  align-content: center;
}

h4{
  font-weight: normal;
  font-size: smaller;
}

h5{
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}

h4, h5{
display: inline;
color: rgb(85, 85, 85)
}

.education-icon {
  cursor: pointer;
  height: 4rem;
}


.education-section-container {
  gap: 4rem;
  height: 80%;
}

/*.course-work {
  padding-left: 4%;
  text-align: left; 
}

.course {
  font-weight: bold;
}

.tech {
  font-weight: normal;
  font-size: small;
  font-style: italic;
}*/


/*EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.experience-details-container {
  justify-content: center;
  flex-direction: row;
}

.experience-containers,
.experience-details-container {
  display: block;
  row-gap: 2rem;
}

.experience-pic {
  border-radius: 2rem;
}

.experience-details-container2 {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: left;
  margin-bottom: 24px;
  height: fit-content;
}

.experience-details{
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.experience-location {
  flex: 1;
}

h3{
  font-weight: normal;
  color:rgb(0, 0, 0);
  font-size:smaller;
}

.location{
  font-weight: lighter;
  font-size: 13px;
  color: rgb(85, 85, 85)
}

h3, .location{
display: inline-block;
}

.experience-icon {
  cursor: pointer;
  height: 3rem;
}

.aligned-left{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
  font-size: small;
}
.timeline{
  margin: 0;
  text-align: right;
  font-style: italic;
}

.experience-section-container {
  gap: 4rem;
  height: 80%;
}


/* PROJECTS SECTION */

#projects {
  position: relative;
}
.project-details-container {
  justify-content: center;
  flex-direction: row;
}

.project-about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.project-details-container2 {
  padding: 1.2rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 5px;
  flex-basis: calc(40% - 10px);
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-article-container {
  height: 300px;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.2rem;
}

.project-img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.project-title {
  font-size: large;
  margin: 0.5rem 0rem;
  color: black;
}

.project-description{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
  font-size: small;
  min-height: 31%;
  display: none;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.project-btn-container {
  gap: 1rem;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh !important;
}

.contact-box{
  display: flex;
  margin: 2rem auto;
  column-gap: 1rem;
}

.contact-details-container {
  display: block;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  padding: 0.5rem;
  align-content: center;
}

.contact-details {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-details p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.contact__inputs {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact__input, .contact__button {
  outline: none;
  font-size: medium;
}

.contact__input {
  width: 674px;
  padding: 12px;
  border: 2px solid gray;
  color: black;
  border-radius: 1.2rem;
  margin-bottom: 1rem;
}

.contact::placeholder {
  color: #786f71;
  font-weight: 600;
}

.contact__form {
  width: 700px;
  justify-self: center;
  margin: 2rem auto;
}

/* FOOTER SECTION */

footer {
  height: 20vh;
  background-color: black;
}

footer p {
  text-align: center;
}}